@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Open Sans", "Noto Sans SC", sans-serif;
}

h1 {
    img {
        height: 2.5rem;
    }
}

.hide {
    display: none;
}

#logoSection {
    border-right: solid 2px gray("400");
}

#loginValidateCodeImage {
    height: $input-height;
    border-top-right-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
}

#userAvatar {
    width: 4rem;
    border-radius: 0.4rem;
}
